@using AadExplorer.Utils
@if (AuthenticationHelper.IsAuthenticated)
{
    <text>
         <ul class="nav navbar-nav navbar-right">
            <li>
                @*@Html.ActionLink(User.Identity.Name, "Index", "Home", routeValues: null, htmlAttributes: new { id = "logoutLink" })*@
            </li>
            <li>
                @Html.ActionLink("Sign out", "SignOut", "OAuth")
            </li>
        </ul>
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Sign up for the application.", "SignUp", "OAuth", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("User Sign in", "SignIn", "OAuth", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("App Only Sign in", "AppOnlySignIn", "OAuth", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
