@{
    ViewBag.Title = "Welcome";
}
<h2>@ViewBag.Title.</h2>

<p>@ViewBag.Message</p>


<table class="table table-bordered table-striped">
    <tr>
        <td>Access token</td>
        <td>@ViewBag.AccessToken</td>
    </tr>
</table>
