@{
    ViewBag.Title = "AAD Explorer";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
                <h2>Graph Explorer for Azure Active Directory</h2>
            <p>
                For more Information, please visit
                <a href="http://blogs.msdn.com/b/aadgraphteam/" title="Azure AD Graph team blog site">AAD Graph team.</a>.
            </p>
        </div>
    </section>
}

<h3>Welcome to the AAD Explorer</h3>
<p>Please login to browse your tenant. You can walk through the objects in the directory, and run custom queries.</p>