@using Microsoft.Azure.ActiveDirectory.GraphClient
@model IEnumerable<string> 

@{
    ViewBag.Title = "GetGroups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GetGroups</h2>
<table id="directoryObjects">
    <tr>
        <th>
            GroupId
        </th>
    </tr>
    @foreach (var groupId in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => groupId)
            </td>
        </tr>
    }
</table>